<div class="row">
  <div class="col-xs-7">
    <h3 class="segment-title">Suggested Q&amp;A</h3>
  </div>
  <div class="col-xs-5 text-right"><a href="profile/edit-contact-info">view all <span class="fa fa-bars" aria-hidden="true"></span></a></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="qa-item segment">
      <div class="qa-text">
        <a href="qa/1/details/2">
          <h4 class="segment-title">Relentlessly pursues moth</h4>
          <p>I like big cats and i can not lie milk te cow but meowwwww but lie in the sing all day love ...</p>
        </a>
      </div>
    </div>

    <div class="qa-item segment">
      <div class="qa-text">
        <h4 class="segment-title">Relentlessly pursues moth</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit i can not lie milk te cow but meowwwww but lie in the sing
          all day love ...</p>
      </div>
    </div>

    <div class="qa-item segment">
      <div class="qa-text">
        <h4 class="segment-title">Relentlessly pursues moth</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit i can not lie milk te cow but meowwwww but lie in the sing
          all day love ...</p>
      </div>
    </div>

    <div class="qa-item segment">
      <div class="qa-text">
        <h4 class="segment-title">Relentlessly pursues moth</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit i can not lie milk te cow but meowwwww but lie in the sing
          all day love ...</p>
      </div>
    </div>
  </div>
</div>