<div class="row">
  <div class="col-xs-12">
    <div class="you-will-give-got segment">
      <h3>Some Of The Teams You Could Join</h3>
      <ul *ngIf="displayedTeams">
        <li *ngFor="let team of displayedTeams">
          <div class="icon">
            <span class="glyphicon glyphicon-lg {{team.icon}}"></span>
          </div>
          <div class="text">
            <h4>{{team.name}}</h4>
            <p>{{team.description}}</p>
          </div>
        </li>

        <li *ngIf="collapsedTeams" class="list-other" data-toggle="collapse" data-target="#list-other">
          <div class="icon">
            <div class="list-other-counter">+{{collapsedTeams.length}}</div>
            <div>more</div>
          </div>
          <div class="text">
            <p>{{collapsedTeamNames.join(', ')}}</p>
          </div>
        </li>
      </ul>

      <ul id="list-other" class="collapse" *ngIf="collapsedTeams">
        <li *ngFor="let team of collapsedTeams">
          <div class="icon">
            <span class="glyphicon glyphicon-lg {{team.icon}}"></span>
          </div>
          <div class="text">
            <h4>{{team.name}}</h4>
            <p>{{team.description}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
