<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <div class="row">
        <div class="col-xs-8">
          <h3 class="segment-title">Selected Teams</h3>
        </div>
        <div class="col-xs-4 segment-title-link-container">
          <a href="#">delete all <span class="ic ic-delete" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="row">
        <div class="selected-team-list">
          <div class="selected-team-item">
            <div class="col-xs-8">
              <h4 class="segment-title selected-team-title">Mindfool Feeding</h4>
            </div>
            <div class="col-xs-4 segment-title-link-container">
              <a href="#">delete <span class="ic ic-delete" aria-hidden="true"></span></a>
            </div>
          </div>

          <div class="selected-team-item">
            <div class="col-xs-8">
              <h4 class="segment-title selected-team-title">Gatekeepers</h4>
            </div>
            <div class="col-xs-4 segment-title-link-container">
              <a href="#">delete <span class="ic ic-delete" aria-hidden="true"></span></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>