<user-header></user-header>

<div class="row">
  <div class="col-xs-12">
    <div class="profile-name-bio segment">
      <div class="row">
        <div class="col-xs-7">
          <h3 class="segment-title">John "Fireboy" Doe</h3>
        </div>
        <div class="col-xs-5 segment-title-link-container"><a href="profile/edit-profile">edit details <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
        <div class="col-xs-12 profile-bio">
          <p>I have a big passion for creating useful and beautiful stuff, while constantly trying to learn and improve in the process.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="profile-details segment">
      <div class="row">
        <div class="col-xs-7">
          <h3 class="segment-title">Personal Details</h3>
        </div>
        <div class="col-xs-5 text-right"><a href="profile/edit-contact-info">edit details <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-5">Birthdate</div>
            <div class="col-xs-7 text-right">august 14th, 1981</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Email</div>
            <div class="col-xs-7 text-right">fireboy83@gmail.com</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Phone Number</div>
            <div class="col-xs-7 text-right">+00 80 312 21 21</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <a href="#" title="Connect Facebook Account">Connect Facebook Account <span class="ic ic-facebook-square pull-right" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <a href="#" title="Connect Google Account">Connect Google Account <span class="ic ic-google-plus pull-right" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <a href="account/reset-password" title="Reset Your Password">Reset Your Password <span class="ic ic-key pull-right" aria-hidden="true"></span></a>
    </div>
  </div>
</div>