<user-header></user-header>

<div class="row">
  <div class="profile-hero">
    <div class="item">
      <div class="profile-hero-content">
        <div class="col-xs-4 text-left">
          <div class="badges-trophies-count">3</div>
          <div>badges</div>
        </div>
        <div class="col-xs-4 text-center profile-img">
          <img class="img-responsive img-circle" src="https://placeimg.com/85/85/people/grayscale" />
          <div class="profile-score">5</div>
        </div>
        <div class="col-xs-4 text-right">
          <div class="badges-trophies-count">1</div>
          <div>trophies</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="profile-name-bio segment">
      <div class="row">
        <div class="col-xs-7">
          <h3 class="segment-title">John "Fireboy" Doe</h3>
        </div>
        <div class="col-xs-5 text-right"><a href="#">edit details <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
        <div class="col-xs-12 profile-bio">
          <p>Proin in tortor augue. Fusce aliquet nulla in lacus consequat varius. Suspendisse convallis massa enim, bibendum
            dictum libero varius ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Aliquam erat volutpat. Donec efficitur eros et posuere accumsan. Nam dictum nisi libero, id convallis mi sodales
            at.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="profile-details segment">
      <div class="row">
        <div class="col-xs-7">
          <h3 class="segment-title">Personal Details</h3>
        </div>
        <div class="col-xs-5 text-right"><a href="#">edit details <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-5">Birthdate</div>
            <div class="col-xs-7 text-right">august 14th, 1981</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Email</div>
            <div class="col-xs-7 text-right">fireboy83@gmail.com</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Phone Number</div>
            <div class="col-xs-7 text-right">+00 80 312 21 21</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <a href="#" title="Connect Facebook Account">Connect Facebook Account <span class="ic ic-facebook-square pull-right" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <a href="#" title="Connect Google Account">Connect Google Account <span class="ic ic-google-plus pull-right" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <a href="#" title="Reset Your Password">Reset Your Password <span class="ic ic-key pull-right" aria-hidden="true"></span></a>
    </div>
  </div>
</div>