<user-header></user-header>

<div class="row">
  <div class="col-xs-12">
    <div class="profile-name-bio segment">
      <div class="row">
        <div class="col-xs-7">
          <h3 class="segment-title">John "Fireboy" Doe</h3>
        </div>
        <div class="col-xs-5 segment-title-link-container"><a href="profile/edit-profile">edit details <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
        <div class="col-xs-12 profile-bio">
          <p>I have a big passion for creating useful and beautiful stuff, while constantly trying to learn and improve in the
            process.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="profile-public-year-social segment-table">
      <div class="row">
        <div class="col-xs-5">
          <h3>26 years old</h3>
        </div>
        <div class="col-xs-7 profile-social-links">
          <h3>Social media</h3>
          <a href="#" title="Connect Facebook Account"><span class="ic ic-facebook-square pull-right" aria-hidden="true"></span></a>
          <a href="#" title="Connect Google Account"><span class="ic ic-google-plus pull-right" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-events-history></app-events-history>
<app-badge-list></app-badge-list>
<app-trophy-list></app-trophy-list>
<app-accolade-list></app-accolade-list>