<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">In roder to complete your volunteering we need to fill in some blanks.</p>
    </div>
  </div>
</div>

<form action="">
  <div class="row">
    <div class="col-xs-12">
      <div class="edit-profile-detalils segment">
        <!-- @TODO complete profile regular START -->
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-user"></span>
          </div>
          <div class="text">
            <input type="text" class="form-control" placeholder="What's Your Legal Name?">
          </div>
        </div>
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-user"></span>
          </div>
          <div class="text">
            <input type="text" class="form-control" placeholder="What's Your Preferred Name?">
          </div>
        </div>
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-phone"></span>
          </div>
          <div class="text">
            <input type="tel" class="form-control" placeholder="What's Your Phone Number?">
          </div>
        </div>
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-calendar"></span>
          </div>
          <div class="text">
            <input type="date" class="form-control" placeholder="What's Your Birthday">
          </div>
        </div>
        <!-- @TODO complete profile regular END -->

        <!-- @TODO complete profile socialv2 START -->
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-phone"></span>
          </div>
          <div class="text">
            <input type="tel" class="form-control" placeholder="What's Your Phone Number?">
          </div>
        </div>

        <div class="form-input">
          <div class="icon">
            <span class="ic ic-user"></span>
          </div>
          <div class="text">
            <input type="text" class="form-control" placeholder="What's Your Preferred Name?">
          </div>
        </div>
        <!-- @TODO complete profile socialv2 END -->

        <!-- @TODO complete profile socialv3 START -->
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-user"></span>
          </div>
          <div class="text">
            <input type="text" class="form-control" placeholder="What's Your Preferred Name?">
          </div>
        </div>
        <!-- @TODO complete profile socialv3 END -->
      
      </div>
    </div>
  </div>

  <!-- @TODO generate GENERAL CONTACT component -->
  <div class="row">
    <div class="col-xs-12">
      <div class="row segment">
        <div class="col-xs-4">
          <div id="event-contact" class="row">
            <a href="#">
              <div class="icon">
                <span class="ic ic-cog"></span>
              </div>
              <div class="text">
                <span>Ask Sparks</span>
              </div>
            </a>
          </div>
        </div>

        <div class="col-xs-8 bottom-nav">
          <div class="btn-group" role="group">
            <a href="#" class="btn btn-block btn-default">Next</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>