<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">What kind of things do you want to work on?</p>
    </div>
  </div>
</div>


<app-selected-teams></app-selected-teams>


<div class="row">
  <div class="col-xs-12">
    <div class="team-item segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Mindful Feeding</h4>
        <p>Feed hundreds of dreamers in the most amazing kitchen ever. Add a little...</p>
      </div>
    </div>

    <div class="team-item segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Artist Hospitality</h4>
        <p>Take tickets and give people a big warm welcome! Wrks the face of the festival...</p>
      </div>
    </div>

    <div class="team-item segment segment-bolded">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Boneyard</h4>
        <p>Feed hundreds of dreamers in the most amazing kitchen ever. Add a little...</p>
      </div>
    </div>

    <div class="team-item segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Mindful Feeding</h4>
        <p>Feed hundreds of dreamers in the most amazing kitchen ever. Add a little...</p>
      </div>
    </div>

    <div class="team-item segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Mindful Feeding</h4>
        <p>Feed hundreds of dreamers in the most amazing kitchen ever. Add a little...</p>
      </div>
    </div>

    <div class="team-item segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Mindful Feeding</h4>
        <p>Feed hundreds of dreamers in the most amazing kitchen ever. Add a little...</p>
      </div>
    </div>
  </div>
</div>


<!-- @TODO generate GENERAL CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-4">
        <div id="event-contact" class="row">
          <a href="#">
            <div class="icon">
              <span class="ic ic-cog"></span>
            </div>
            <div class="text">
              <span>Ask The Organizer</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-block btn-default">Previous</a>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-block btn-default" [disabled]="checkTeams()">Next</button >
        </div>
      </div>
    </div>
  </div>
</div>
