<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <div class="row">
        <div class="col-xs-8">
          <h3 class="segment-title">Selected Shfts (3 of 5)</h3>
        </div>
        <div class="col-xs-4 segment-title-link-container">
          <a href="#">delete all <span class="ic ic-delete" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12 timeline">
          <!-- <app-schedule [items]="scheduleItems"></app-schedule> -->
          <ul>
            <li>
              <div class="icon-desc-container">
                <div class="icon">
                  <span class="ic ic-circle"></span>
                </div>
                <div class="description">
                  <h4>Mindfool Feeding</h4>
                  <div class="timeline-when">
                    <p>june 1st- 3rd, 2017</p>
                  </div>
                </div>
              </div>
              <div class="karma-point-container">
                <a href="#">delete <span class="ic ic-delete" aria-hidden="true"></span></a>
              </div>
            </li>

            <li>
              <div class="icon-desc-container">
                <div class="icon">
                  <span class="ic ic-circle"></span>
                </div>
                <div class="description">
                  <h4>Gatekeepers</h4>
                  <div class="timeline-when">
                    <p>june 1st- 3rd, 2017</p>
                  </div>
                </div>
              </div>
              <div class="karma-point-container">
                <a href="#">delete <span class="ic ic-delete" aria-hidden="true"></span></a>
              </div>
            </li>


            <li>
              <div class="icon-desc-container">
                <div class="icon">
                  <span class="ic ic-circle"></span>
                </div>
                <div class="description">
                  <h4>Mindfool Feeding</h4>
                  <div class="timeline-when">
                    <p>june 1st- 3rd, 2017</p>
                  </div>
                </div>
              </div>
              <div class="karma-point-container">
                <a href="#">delete <span class="ic ic-delete" aria-hidden="true"></span></a>
              </div>
            </li>

          </ul>
        </div>


      </div>
    </div>
  </div>
</div>