<div class="row">
  <div class="col-xs-12">
    <div class="trophie segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>So Punctual - <span>june 1st, 2017</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

    </div>

    <div class="trophie segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>So Positive - <span>june 21st, 2017</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

    </div>
  </div>
</div>