<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="dashboard" class="navbar-menu" title="Dashboard">
                <span class="ic ic-user"></span>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="ic ic-search"></span>
            </button>
            <a class="navbar-brand" href="#">sparks.network</a>
            
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a href="dashboard" class="navbar-menu" title="Dashboard">
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>