<div class="row">
  <div class="profile-hero">
    <div class="item">
      <div class="profile-hero-content">

        <div class="col-xs-4 text-left col-md-4">
          <div class="badges-trophies-count">3</div>
          <div>badges</div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="profile-img">
            <img class="img-responsive img-circle" src="https://placeimg.com/85/85/people/grayscale" />
            <div class="profile-score">5</div>
          </div>
        </div>
        <div class="col-xs-4 text-right">
          <div class="badges-trophies-count">1</div>
          <div>trophies</div>
        </div>
      </div>

      <div class="profile-progress">
        <div class="profile-karma-public" *ngIf="this.router.url === '/profile/public'">
            <div class="karma-count">1600</div>
            <div class="karma-label">Karma Points</div>
        </div>

        <div class="profile-karma" *ngIf="this.router.url !== '/profile/public' ">
          <div class="col-xs-6 text-left">Currently: 1600 <span class="ic ic-star"></span></div>
          <div class="col-xs-6 text-right">Next level: 2100 <span class="ic ic-star"></span></div>
          <div class="col-xs-12">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                70%
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>