<div class="row">
  <div class="component-segment">
    <div class="col-xs-6">
      <h3 class="segment-title">Your Trophies</h3>
    </div>
    <div class="col-xs-6 text-right"><a href="profile/trophies">view all trophies <span class="ic ic-cog" aria-hidden="true"></span></a></div>

    <div class="col-xs-12">
      <div class="profile-reward segment">
        <ul>
          <li>
            <div class="icon-desc-container">
              <div class="icon">
                <span class="ic ic-cog"></span>
              </div>
              <div class="description">
                <h4>So Punctual</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>