/* demo */

// .container{
//   width: 370px;
//   &.main-content{
//     -webkit-box-shadow: 5px 5px 20px 3px #858585;
//     box-shadow: 5px 5px 20px 3px #858585;
//   }
// }
// -- Helpers -- //
@import "scss/layout";
@import "scss/variables";
@import "scss/mixins";

/* Typography */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: $base-color;
    font-size: 15px;
    font-weight: lighter;
    a {
        color: $base-color;
        &:hover {
            text-decoration: none;
        }
    }
}

h1 {
    &.event-title,
    &.page-title {
        font-size: 38px;
        margin-top: 0;
    }
}

h2 {
    font-size: 26px;
    .dashboard-text & {
        margin: 0;
    }
}

h3 {
    font-size: 18px;
    &.profile-name {
        margin-top: 0;
    }
    .dashboard-text & {
        margin: 0;
    }
}

.title-link {
    margin-top: 16px;
    margin-bottom: 10px;
    display: block;
}

.text h3,
.description h3,
.timeline h3 {
    margin: 0;
}

*[data-toggle="collapse"] {
    cursor: pointer;
}


/* General */

.segment-title {
    margin: 0;
    &.selected-team-title{
        opacity: 0.6;
    }
}

.segment-title-link-container {
    padding-left: 0;
    text-align: right;
}

.component-segment {
    padding-top: 30px;
    @include block-nooverflow;
}

.segment {
    border-bottom: 1px solid $light-gray;
    padding-top: 15px;
    padding-bottom: 15px;
    &.no-padding-tb {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.bottom-links {
    border-top: 2px solid $light-gray;
    padding-top: 15px;
    padding-bottom: 15px;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
    .col-xs-9 {
        padding-left: 0;
    }
    .col-xs-3 {
        padding-right: 0;
        text-align: right;
    }
}

.lineabove {
    &:before {
        content: '';
        width: 120px;
        height: 1px;
        background: $light-gray;
        position: absolute;
        margin-top: -5px;
    }
}

.icon-desc-container {
    width: 75%;
    float: left;
    @include block-nooverflow;
}

.karma-point-container {
    text-align: right;
    width: 25%;
    float: left;
    padding-left: 15px;
    @include block-nooverflow;
}

.icon {
    width: 50px;
    float: left;
    text-align: center;
    .ic {
        font-size: 30px;
    }
}

.text,
.description {
    width: calc(100% - 60px);
    float: right;
    font-size: 14px;
    font-weight: lighter;
    h4 {
        margin: 0;
        font-size: 15px;
        font-weight: lighter;
        span {
            font-size: inherit;
            font-weight: lighter;
            opacity: 0.8;
        }
    }
    p {
        margin-bottom: 0;
    }
    span {
        font-size: 12px;
        font-weight: lighter;
        opacity: 0.8;
    }
}

.card-text {
    font-size: 18px;
    opacity: 0.8;
    font-weight: lighter;
}

.card-location {
    a {
        display: block;
        font-size: 15px;
    }
}


/* Buttons */

.button-table {
    display: table;
    width: 100%;
    .btn {
        display: table-cell;
    }
}

.btn {
    border-radius: 0;
    &.btn-primary {
        color: #fff;
        background-color: #737676;
        border-color: #737676;
        &:hover {
            background-color: #515455;
        }
    }
    &.dropdown-toggle {
        border: none;
    }
    &.btn-social-login {
        background: #F3F4F4;
        border: none;
        padding: 12px 12px;
        &:hover {
            background: #DEDFE0;
        }
    }
}

.input-group-btn {
    .btn {
        background: transparent;
        border: transparent;
    }
}


/* Forms */

.form-control {
    border-radius: 0;
}

.input-group {
    margin-bottom: 15px;
}

.icon {
    display: block;
}

.form-input {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}


/* Nav */

.navbar-default {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
    .navbar-brand {
        font-size: 22px;
        color: #1e1e1e;
    }
    .navbar-toggle {
        border: none;
        color: #1e1e1e;
        &:focus,
        &:hover {
            background-color: transparent;
        }
    }
    .navbar-menu {
        display: block;
        position: relative;
        float: right;
        padding: 9px 10px;
        margin: 8px 15px 0 8px;
        border: 1px solid transparent;
        @include MQ(S) {
            display: none;
        }
    }
    .navbar-collapse {
        border: none;
        .navbar-menu {
            display: none;
            @include MQ(S) {
                display: block;
                margin-top: 5px;
            }
        }
        .navbar-form {
            border: none;
        }
    }
}


/* Header Carousel */

.carousel-control {
    display: none;
}

#eventCarousel {
    .item {
        height: 410px;
        width: 100%;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        @include background-size(cover !important);
    }
}


/* Event Details Page */

.event-title {
    width: calc( 100% - 100px);
    float: left;
}

.event-karma {
    width: 90px;
    float: right;
    overflow: hidden;
    div {
        display: block;
        float: left;
    }
    .event-karma-count {
        font-size: 24px;
        font-weight: normal;
        p {
            margin: 0;
            font-size: 15px;
            font-weight: lighter;
        }
    }
    .icon-karma {
        font-size: 35px;
        float: right;
    }
}

.event-date-location {
    .icon {
        width: 50px;
        float: left;
        text-align: center;
    }
    .text,
    .description {
        width: calc(100% - 60px);
        float: right;
    }
    .event-location {
        border-left: 1px solid $light-gray;
        .icon {
            float: right;
        }
        .text,
        .description {
            float: left;
        }
    }
    a {
        display: block;
        overflow: hidden;
    }
}

.event-requirements {
    .event-req-row {
        border-bottom: 1px solid $light-gray;
    }
    .clearfix{
        border-bottom: 1px solid $light-gray;
    }
    
    .col-xs-6 {
        padding-top: 15px;
        padding-bottom: 15px;
    
        border-right: 1px solid $light-gray;
         // &:last-child {
        //     border-bottom: none;
        // }
        /* only two items */
        // &:first-child:nth-last-child(2),
        // &:first-child:nth-last-child(2) ~ li {
        //     border-bottom: none;
        // }
        .pending {
            .status {
                opacity: 0.6;
            }
        }
        .active {
            opacity: 0.6;
        }
        .disabled {
            opacity: 0.6;
        }
    }
    .icon {
        width: 50px;
        float: left;
        text-align: center;
    }
    .text,
    .description {
        width: calc(100% - 60px);
        float: right;
    }
}

.you-will-give-got,
.quests,
.timeline {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: block;
            overflow: hidden;
            margin-bottom: 15px;
            .profile-badges & {
                width: 25%;
                float: left;
            }
            &.list-other {
                cursor: pointer;
                .text,
                .description {
                    &:before {
                        content: '';
                        width: 120px;
                        height: 1px;
                        background: $light-gray;
                        position: absolute;
                        margin-top: -5px;
                    }
                }
            }
        }
        .icon {
            width: 30px;
            float: left;
        }
        .text,
        .description {
            width: calc(100% - 40px);
            float: right;
        }
    }
}

.profile-reward {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            width: 25%;
            float: left;
            padding: 0 5px;
            text-align: center;
            .icon-desc-container {
                width: 100%;
                .icon,
                .description {
                    width: 100%;
                }
            }
        }
    }
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
.timeline {
    padding-top: 15px;
    padding-bottom: 15px;
    ul {
        li {
            position: relative;
            margin-bottom: 0;
            padding-bottom: 15px;
            .icon-desc-container {
                &:before {
                    content: '';
                    border-left: 2px solid #B8BABA;
                    position: absolute;
                    top: 2px;
                    left: 15px;
                    height: 100%;
                }
                .icon {
                    color: #B8BABA;
                    .ic {
                        background: #FFF;
                    }
                }
            }
            &:last-child {
                .icon-desc-container {
                    &:before {
                        border: none;
                    }
                }
            }
        }
    }
}

.page-social {
    padding-top: 15px;
    padding-bottom: 15px;
    .requirements-link {
        .ic {
            float: right;
        }
    }
    .col-xs-8 {
        border-right: 1px solid $light-gray;
    }
    .btn-group {
        .share-facebook,
        .share-twitter {
            font-size: 18px;
            display: block;
            margin-top: 16px;
        }
    }
    #share-for-karma {
        width: 100%;
        text-align: right;
        border-bottom: 1px solid $light-gray;
        line-height: 0.1em;
        margin: 20px 0;
        span {
            background: #fff;
            padding: 0 10px;
            font-size: 12px;
            color: #919191;
        }
    }
}

/* Opportunity, Page Details */

.page-hero {
    .item {
        height: 410px;
        width: 100%;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        @include background-size(cover !important);
        display: table;
        padding: 0 15px;
        .page-title {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
    }
}

.opportunity-head {
    .opportunity-selector {
        margin-top: 7px;
    }
}

.profile-hero {
    .item {
        height: 410px;
        width: 100%;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        @include background-size(cover !important);
        padding-top: 100px;
        background: #DDD;
        position: relative;
        .profile-hero-content {
            @include block-nooverflow;
        }
        .profile-img {
            position: relative;
            min-width: 65px;
            min-height: 65px;
            display: inline-block;
            img {
                border: 2px solid #FFF;
                margin: 0 auto;
            }
            .profile-score {
                background: #FFF;
                @include border-radius(50%);
                width: 20px;
                position: absolute;
                bottom: 5px;
                right: 0;
            }
        }
        .badges-trophies-count {
            font-weight: bold;
        }
        .profile-progress {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-size: 14px;
            font-weight: normal;
        }
    }
}


/* Profile */

.profile-bio {
    padding-top: 15px;
}


/* Dashboard */

.dashboard-nav {
    background: #DDD;
    .btn-default {
        color: #333;
        background-color: transparent;
        border-color: #FFF;
    }
}

.dashboard-events {
    .event-img {
        height: 230px;
        position: relative;
        .dashboard-event-status {
            position: absolute;
            background: transparentize(#FFF, 0.2);
            top: 20px;
            font-size: 12px;
            padding: 0 10px;
        }
    }
    .event-title {
        width: calc( 100% - 60px);
        float: left;
        margin: 0;
    }
    .event-karma {
        width: 50px;
        float: right;
        div {
            display: block;
            float: left;
        }
        .event-karma-count {
            font-size: 12px;
            font-weight: normal;
            p {
                margin: 0;
                font-size: 15px;
                font-weight: lighter;
            }
        }
        .icon-karma {
            font-size: 10px;
            float: right;
        }
    }
    .event-date,
    .event-location {
        width: 100%;
        @include block-nooverflow;
        font-size: 12px;
        font-weight: lighter;
        opacity: 0.8;
    }
}

.selected-team-list{
    margin-top: 20px;
}


/* Footer Nav */

.bottom-nav {
    .btn-group {
        width: 48%;
        &:only-child {
            float: right;
            width: auto;
        }
    }
}

/* Modal */
.modal-content{
    @include border-radius(0);
    .modal-header{
        background: url( 'https://placeimg.com/600/190/people/grayscale' ) top center no-repeat;
        .input-group{
            margin: 30px 0;
            padding: 10px;
            background: #FFF;
            border: 1px solid #000;
            .form-control{
                border: none;
                box-shadow: none;
            }
            .input-group-btn{
                border: 1px solid #F7F7F7;
            }
        }
    }
    .close{
        font-size: 30px;
        background: #FFF;
        @include border-radius(50%);
        width: 30px;
        opacity: 1;
        margin-right: -22px;
        margin-top: -22px;
    }

    .modal-footer{
        .btn{
            float: left;
        }
    }
}