<div class="row">
  <div class="profile-hero">
    <div class="item">
      <div class="profile-hero-content">

        <div class="col-xs-8 text-left dashboard-text">
          <h2>Hello Fireboy,</h2>
          <h3>You just got 20 Karma Points and opened 1 quest and 2 badges.</h3>
        </div>
        <div class="col-xs-4 text-center">
          <div class="profile-img">
          <img class="img-responsive img-circle" src="https://placeimg.com/85/85/people/grayscale" />
          <div class="profile-score">5</div>
          </div>
        </div>
      </div>

      <div class="profile-progress">
        <div class="col-xs-6 text-left">Currently: 1600 <span class="ic ic-star"></span></div>
        <div class="col-xs-6 text-right">Next level: 2100 <span class="ic ic-star"></span></div>
        <div class="col-xs-12">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
              70%
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>