<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="opportunity-head segment">
      <div class="col-xs-6">
        <div class="row">
          <h3>{{opportunity?.name}}</h3>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="dropdown opportunity-selector">
          <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenuOpportunity" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            {{opportunity?.summary}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuOpportunity">
            <li *ngFor="let oppHeaderItem of opportunityHeaderData"><a href="" [routerLink]="[oppHeaderItem.opportunityId]">{{oppHeaderItem.summary}}</a></li>
            <!-- <li role="separator" class="divider"></li>
            <li><a href="" [routerLink]="['../', 4]">Separated link</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
