<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="opportunity-head segment">
      <div class="col-xs-6">
        <div class="row">
          <h3>Regular</h3>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="dropdown opportunity-selector">
          <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenuOpportunity" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
    85% discount
    <span class="caret"></span>
  </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuOpportunity">
            <li><a href="" [routerLink]="['../', 3]">45% discount</a></li>
            <li><a href="" [routerLink]="['../', 2]">july 21 - sep 19</a></li>
            <li><a href="" [routerLink]="['../', 1]">1 shift</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" [routerLink]="['../', 4]">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <div class="icon">
        <span class="ic ic-calendar"></span>
      </div>
      <div class="text">
        <h4>$394 value form $59</h4>
        <p><span>The regular ticket price is reduced to the price of $59</span></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="opportunity-description segment">
      <p class="card-text">Cras at tempus metus. Sed mattis non neque tincidunt pretium. Nunc a dui interdum, condimentum erat sit amet, auctor
        quam. Quisque vel blandit eros. Phasellus eu interdum odio, vitae sodales leo. Vivamus rhoncus commodo justo nec
        interdum. Integer a molestie ipsum, eget cursus urna. Quisque consectetur nisl ut aliquam sollicitudin.</p>
      <p class="card-text card-location lineabove">Letiste Rokycany, Bdul Alexandru Cel Bun <a href="#">Get directions</a></p>
    </div>
  </div>
</div>


<!-- @TODO generate YOU WILL GET/ YOU WILL GIVE component -->
<div class="row">
  <div class="col-xs-12">
    <div class="you-will-give-got segment">
      <h3>You Will Get</h3>
      <ul>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Gifts - <span>$25 value</span></h4>
            <p>Exclusive Deam Maker T-shirt, Water Bottle, and Mapdana</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>3 Food Tickets - <span>$30 value</span></h4>
            <p>Form Meals at our Organic Commissary</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>To help your community</h4>
            <p>Serve your neightbors on the Avenue!</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="you-will-give-got segment">
      <h3>You Will Give</h3>
      <ul>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>1 Shift</h4>
            <p>Serve your neightbors on the Avenue!</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Nam efficitur dignissim mattis</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="you-will-give-got segment">
      <h3>Some Of The Teams Could Join</h3>
      <ul>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4><span class="shiftcount">1</span> Shift</h4>
            <p>Serve your neightbors on the Avenue!</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Nam efficitur dignissim mattis</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li class="list-other" data-toggle="collapse" data-target="#list-other">
          <div class="icon">
            <div class="list-other-counter">+9</div>
            <div>more</div>
          </div>
          <div class="text">
            <p>Boneyard, dIRT, Media Monkeys, Autoflow, Technocrats, Shuttleguides, Hubquarters, Stage Hands, Site Ops</p>
          </div>
        </li>
      </ul>
      <ul id="list-other" class="collapse">
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Boneyard</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>dIRT</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Media Monkeys</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Autoflow</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Technocrats</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Shuttleguides</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Hubquarters</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Stage Hands</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="ic ic-cog"></span>
          </div>
          <div class="text">
            <h4>Site Ops</h4>
            <p>In quis lacinia dolor.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- @TODO generate VISIT REQUIREMENTS component - similar to project-social  -->
<div class="row">
  <div class="col-xs-12">
    <!--similar to <app-project-social></app-project-social>-->
    <div class="page-social segment">
      <a href="#" class="requirements-link">Visit the requirements page <span class="ic ic-link"></span></a>
    </div>
  </div>
</div>

<!-- @TODO generate OPPORTUNITY/PROJECT CONTACT component -->
<div class="row segment">
  <div class="col-xs-5">
    <div id="event-contact" class="row">
      <!--<app-project-ask-organizer-button></app-project-ask-organizer-button>-->
      <a href="#">
        <div class="icon">
          <span class="ic ic-question-sign"></span>
        </div>
        <div class="text">
          Ask The Organizer
        </div>
      </a>
    </div>
  </div>

  <div class="col-xs-7">
    <a href="#" class="btn btn-primary btn-block" title="Join Now">Join Now</a>
  </div>
</div>