<div class="row">
  <div class="component-segment">
    <div class="col-xs-6">
      <h3 class="segment-title">New Quests</h3>
    </div>
    <div class="col-xs-6 text-right"><a href="#">view all quests <span class="ic ic-cog" aria-hidden="true"></span></a></div>

    <div class="col-xs-12">
      <div class="quests segment">
        <!-- list of quests START -->
        <ul>
          <li>
            <div class="icon-desc-container">
              <div class="icon">
                <span class="ic ic-cog"></span>
              </div>
              <div class="description">
                <h4>Share and Share Alike</h4>
                <p>Spread the word about your favorite opportunity.</p>
              </div>
            </div>
            <div class="karma-point-container">
              100 <span class="ic ic-star"></span>
            </div>
          </li>
          <li>
            <div class="icon-desc-container">
              <div class="icon">
                <span class="ic ic-cog"></span>
              </div>
              <div class="description">
                <h4>Your Two Cents</h4>
                <p>Give feedback to Lucidity Festival about your recent engagement.</p>
              </div>
            </div>
            <div class="karma-point-container">
              100 <span class="ic ic-star"></span>
            </div>
          </li>
        </ul>
        <!-- list of quests END -->
      </div>
    </div>
  </div>
</div>