<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">A new account will be created. Start by entering your credentials or by filling in with your details.</p>
    </div>
  </div>
</div>

<form novalidate (ngSubmit)="createUserWithEmailAndPassword($event)" [formGroup]="account" novalidate>  
  <div class="row">
    <div class="col-xs-12">
      <div class="login-register segment">
        <h3>Register</h3>
        <div class="alert alert-danger" *ngIf="registerFailedMessage">{{registerFailedMessage}}</div>
        <div class="form-input" [class.has-error]="!account.get('email').valid && account.get('email').touched">
          <div class="icon">
            <span class="ic ic-envelope-o"></span>
          </div>
          <div class="text">
            <input type="email" class="form-control" placeholder="Email address" formControlName="email">
            <div class="error" *ngIf="account.get('email').hasError('required') && account.get('email').touched ">
              Email is required
            </div>
            <div class="error" *ngIf="account.get('email').touched && account.get('email').hasError('email') && !account.get('email').hasError('required')">
              Email is invalid
            </div>
          </div>
        </div>
        <div class="form-input" [class.has-error]="!account.get('password').valid && account.get('password').touched">
          <div class="icon">
            <span class="ic ic-key"></span>
          </div>
          <div class="text">
            <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">
            <div class="error" *ngIf="account.get('password').hasError('required') && account.get('password').touched">
              Password is required
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>

  <!-- @TODO generate GENERAL CONTACT component -->
  <div class="row">
    <div class="col-xs-12">
      <div class="row segment">
        <div class="col-xs-4">
          <div id="event-contact" class="row">
            <a href="#">
              <div class="icon">
                <span class="ic ic-cog"></span>
              </div>
              <div class="text">
                <span>Ask Sparks</span>
              </div>
            </a>
          </div>
        </div>

        <div class="col-xs-8 bottom-nav">
          <div class="btn-group" role="group">
            <a [routerLink]="['/account/login']" class="btn btn-block btn-default">Back</a>
          </div>
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-block btn-default" [disabled]="!account.valid">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>