<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Start by entering your credentials or by filling in with your details.</p>
    </div>
  </div>
</div>

<form action="">
<div class="row">
  <div class="col-xs-12">
    <div class="login-register segment">
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-key"></span>
          </div>
          <div class="text">
            <input type="password" class="form-control" placeholder="Your Old Password">
          </div>
        </div>
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-key"></span>
          </div>
          <div class="text">
            <input type="password" class="form-control" placeholder="Your New Password">
          </div>
        </div>
    </div>
  </div>
</div>

<!-- @TODO generate GENERAL CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-4">
        <div id="event-contact" class="row">
          <a href="#">
            <div class="icon">
              <span class="ic ic-cog"></span>
            </div>
            <div class="text">
              <span>Ask Sparks</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-block btn-default">Cancel</a>
        </div>
        <div class="btn-group" role="group">
           <button type="submit" class="btn btn-block btn-default">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
  </form>