<div class="row">
  <div class="col-xs-12">
    <div class="you-will-give-got segment" *ngIf="benefits?.length">
      <h3>You Will Get</h3>
      <ul>
        <li *ngFor="let b of benefits">
          <app-card-item [icon]="b.icon" [title]="b.title" [description]="b.description"></app-card-item>
        </li>
      </ul>
    </div>

    <div class="you-will-give-got segment" *ngIf="contributions?.length">
      <h3>You Will Give</h3>
      <ul>
        <li *ngFor="let c of contributions">
          <app-card-item [icon]="c.icon" [title]="c.title" [description]="c.description"></app-card-item>
        </li>
      </ul>
    </div>
  </div>
</div>