<div class="row">
  <div class="col-xs-12">
    <div class="you-will-give-got segment" *ngIf="benefits?.length">
      <h3>You Will Get</h3>
      <ul>
        <li *ngFor="let commitment of benefits">
          <app-card-item [icon]="commitment.icon" [title]="commitment.title" [subtitle]="commitment.description"></app-card-item>
        </li>
      </ul>
    </div>

    <div class="you-will-give-got segment" *ngIf="contributions?.length">
      <h3>You Will Give</h3>
      <ul>
        <li *ngFor="let commitment of contributions">
          <app-card-item [icon]="commitment.icon" [title]="commitment.title" [subtitle]="commitment.description"></app-card-item>
        </li>
      </ul>
    </div>
  </div>
</div>