<h3>Ongoing Volunteering</h3>
<div class="row row-small-pad dashboard-events">
  <div class="col-xs-6">
    <div class="event-img" style="background: url('https://placeimg.com/165/230/people/grayscale')">
      <div class="dashboard-event-status">unfinished process</div>
    </div>
    <h3 class="event-title">Lucidity Crossroads</h3>
    <div class="event-karma">
        <div class="event-karma-count">{{event.maxKarmaPoints}}
          <p>up to</p>
        </div>
        <div class="icon-karma">
          <span class="ic ic-star"></span>
        </div>
      </div>
    <div class="event-date">feb 2nd - apr 12th, 2018</div>
    <div class="event-location">Santa Barbara, CA</div>
  </div>
  <div class="col-xs-6">
    <div class="event-img" style="background: url('https://placeimg.com/165/230/people/grayscale')">
      <div class="dashboard-event-status">accepted</div>
    </div>
    <h3 class="event-title">Department of Public Works</h3>
    <div class="event-karma">
        <div class="event-karma-count">{{event.maxKarmaPoints}}
          <p>up to</p>
        </div>
        <div class="icon-karma">
          <span class="ic ic-star"></span>
        </div>
      </div>
    <div class="event-date">feb 2nd - apr 12th, 2018</div>
    <div class="event-location">Santa Barbara, CA</div>
  </div>
</div>
<h3>You Might Also Like These Opportunities</h3>
<div class="row row-small-pad dashboard-events">
  <div class="col-xs-6">
    <div class="event-img" style="background: url('https://placeimg.com/165/230/people/grayscale')">
      <!--<div class="dashboard-event-status">unfinished process</div>-->
    </div>
    <h3 class="event-title">Park Cleanup</h3>
    <div class="event-karma">
        <div class="event-karma-count">{{event.maxKarmaPoints}}
          <p>up to</p>
        </div>
        <div class="icon-karma">
          <span class="ic ic-star"></span>
        </div>
      </div>
    <div class="event-date">july 15th, 2018</div>
    <div class="event-location">Ventura, CA</div>
  </div>
  <div class="col-xs-6">
    <div class="event-img" style="background: url('https://placeimg.com/165/230/people/grayscale')">
      <!--<div class="dashboard-event-status">accepted</div>-->
    </div>
    <h3 class="event-title">Beach Cleanup BBQ</h3>
    <div class="event-karma">
        <div class="event-karma-count">{{event.maxKarmaPoints}}
          <p>up to</p>
        </div>
        <div class="icon-karma">
          <span class="ic ic-star"></span>
        </div>
      </div>
    <div class="event-date">aug 20th, 2018</div>
    <div class="event-location">Ventura, CA</div>
  </div>
</div>