<!--<button (click)="addEvent()">add event</button>
<br>  
<ul>
  <li *ngFor="let event of events | async">
    <pre>{{event | json}}</pre>
    <button (click)="deleteEvent(event.$key)">x delete</button>
    <button (click)="updateEventTitle(event.$key)">x update title</button>
  </li>
</ul>
<br>  
<ul>
  <li *ngFor="let event of eventDetailsList | async">
    <pre>{{event | json}}</pre>
    <button (click)="deleteEvent(event.$key)">x delete</button>
    <button (click)="updateEventTitle(event.$key)">x update title</button>
  </li>
</ul>-->
<router-outlet></router-outlet>