<div id="event-social" class="row">
  <div class="col-xs-8"><a href="#">View Event Page <span class="glyphicon glyphicon glyphicon-link"></span></a></div>
  <div class="col-xs-4 text-center">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
      </div>
      <div class="btn-group" role="group">
        <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div id="share-for-karma">
      <span>Share for 100 Karma Points</span>
    </div>
  </div>
</div>
