<app-header-carousel [images]="project.images"></app-header-carousel>

<div class="row">
  <div class="col-xs-12">
    <div class="event-head segment">
      <h1 class="event-title">{{project.title}}</h1>
      <div class="event-karma">
        <div class="event-karma-count">{{project.maxKarmaPoints}}
          <p>up to</p>
        </div>
        <div class="icon-karma">
          <span class="ic ic-star"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="event-date-location segment">
      <div class="event-date col-xs-6 text-right">
        <a href="#">
          <div class="icon">
            <span class="ic ic-calendar"></span>
          </div>
          <div class="text">{{projectStart}}{{projectEnd ? " - " + projectEnd : ""}}<br/>
            <span>
              <app-add-to-calendar [data]="addToCalendarData"></app-add-to-calendar>
            </span>
          </div>
        </a>
      </div>
      <div class="event-location col-xs-6">
        <a target="_blank" href="https://www.google.com/maps?saddr=My+Location&daddr={{project.location?.latitude}},{{project.location?.longitude}}">
          <div class="text">
            {{project.location?.name}}<br/><span>get directions</span>
          </div>
          <div class="icon">
            <span class="ic ic-map-marker"></span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="event-description segment">
      <p class="card-text">{{project.description}}</p>
    </div>
  </div>
</div>

<!-- YOU WILL GET/ YOU WILL GIVE -->
<app-opportunity-commitments *ngIf="opportunityCommitments" [benefits]="opportunityCommitments.benefits" [contributions]="opportunityCommitments.contributions"></app-opportunity-commitments>

<!-- USER SCHEDULE -->
<div class="row" *ngIf="scheduleItems">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <h3>Your Schedule</h3>
        </div>
        <div class="col-xs-6">
          <a class="title-link" href="#">add to calendar <span class="glyphicon glyphicon-calendar"></span></a>
        </div>
      </div>
      <div class="col-xs-12">
        <app-schedule [items]="scheduleItems"></app-schedule>
      </div>
    </div>
  </div>
</div>

<!-- OPPORTUNITY CARDS: normal, active, pending, disabled -->
<div class="row" *ngIf="opportunityCards">
  <div class="col-xs-12">
    <div id="event-requirements" class="row">
      <div class="col-xs-12 event-req-row">
        <div class="row">
          <ng-container *ngFor="let opportunity of opportunityCards; let i=index">
            <div class="col-xs-6">
              <a href="" [routerLink]="['opportunity', opportunity.id]">
                <app-card-item [type]="opportunity.type" [icon]="opportunity.icon" [title]="opportunity.title" [subtitle]="opportunity.subtitle"
                  [description]="opportunity.description"></app-card-item>
              </a>
            </div>
            <div class="clearfix" *ngIf="i%2==1"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @TODO generate PROJECT ORGANIZER component -->
<div class="row">
  <div class="col-xs-12">
    <div class="event-organizer segment">
      <h3>Organized by</h3>
      <div class="row">
        <div class="col-xs-9">Cobra Commander from The Burning Man Project</div>
        <div class="col-xs-3"><img class="img-circle" src="https://placeimg.com/40/40/people/grayscale" /></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-project-social></app-project-social>
  </div>
</div>

<!-- PROJECT CONTACT -->
<div class="row segment">

  <div class="col-xs-5">
    <div id="event-contact" class="row">
      <app-project-ask-organizer-button></app-project-ask-organizer-button>
    </div>
  </div>
  <div class="col-xs-7">
    <app-project-join *ngIf="!opportunityCards"></app-project-join>
  </div>
</div>