<div id="qa-modal" class="modal fade autoshow" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Question Sent To Sparks.Network</h2>
      </div>
      <div class="modal-body">
        <p class="card-text">Your application has been sent to Sparks Network. Watch your inbox for a notice that you've been accepted, or just
          sign in to the Sparks.Network to check any time!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Return To Page</button>
      </div>
    </div>
  </div>
</div>






<!-- @TODO generate GENERAL CONTACT component -->
<div class="col-xs-12" style="margin-top: 100px;">
  <div class="row segment">
    <div class="col-xs-4">
      <div id="event-contact" class="row">
        <a href="#" data-toggle="modal" data-target="#qa-modal">
          <div class="icon">
            <span class="ic ic-question-sign"></span>
          </div>
          <div class="text">
            <span>Ask Sparks</span>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-8 bottom-nav">
      <div class="btn-group" role="group">
        <a href="profile" class="btn btn-block btn-default">Back to Profile Page</a>
      </div>
    </div>
  </div>
</div>