<ng-template #qamodal>
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">&times;</button>
        <h2 class="modal-title">Question Sent To Sparks.Network</h2>
      </div>
      <div class="modal-body">
        <p class="card-text">Your application has been sent to Sparks Network. Watch your inbox for a notice that you've been accepted, or just
          sign in to the Sparks.Network to check any time!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Return To Page</button>
      </div>
</ng-template>


<!-- @TODO generate GENERAL CONTACT component -->
<div class="col-xs-12" style="margin-top: 100px;">
  <div class="row segment">
    <div class="col-xs-4">
      <app-ask-action [askWho]="'The Organizer'" [modalTitle]="'Question Sent To The Organizer'"></app-ask-action>
    </div>

    <div class="col-xs-8 bottom-nav">
      <div class="btn-group" role="group">
        <a href="profile" class="btn btn-block btn-default">Back to Profile Page</a>
      </div>
    </div>
  </div>
</div>