<div class="row">
  <div class="component-segment">
    <div class="col-xs-6">
      <h3 class="segment-title">Your Accolades</h3>
    </div>
    <div class="col-xs-6 text-right"><a href="#">view all accolades <span class="ic ic-cog" aria-hidden="true"></span></a></div>

    <div class="col-xs-12">
      <div class="profile-reward segment">
        <ul>
          <li>
            <div class="icon-desc-container">
              <div class="icon">
                <img class="img-circle" src="https://placeimg.com/40/40/people/grayscale" />
              </div>
              <div class="description">
                <h4>What a Great Guy</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>