<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet vestibulum ante, sed mollis nibh. Nam molestie
        justo ex, eget faucibus nisl egestas vitae. Duis lobortis sollicitudin felis, vel placerat nisi condimentum et. Pellentesque
        dictum ex nec vestibulum malesuada. In lacus diam, pharetra in porta non, consectetur vitae purus. Nulla quis mauris
        enim. Etiam iaculis gravida ligula, et feugiat mi facilisis a. Aenean eget mi ut risus vestibulum lobortis eget ac
        massa. </p>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="row segment">
    <div class="col-xs-4">
      <app-ask-action [askWho]="'The Organizer'" [modalTitle]="'Ask The Organizer'"></app-ask-action>
    </div>

    <div class="col-xs-8 bottom-nav">
      <div class="btn-group" role="group">
        <a href="/dashboard" class="btn btn-block btn-default">Go to Dashboard</a>
      </div>
    </div>
  </div>
</div>