<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Start by entering your credentials or by filling in with your details.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="social-login segment">
      <div class="btn-group" role="group">
        <a href="#" class="btn btn-block btn-social-login"><i class="ic ic-facebook-square" aria-hidden="true"></i> Facebook Login</a>
      </div>
      <div class="btn-group" role="group">
        <button type="button" (click)="loginWithGoogle()" class="btn btn-block btn-social-login"><i class="ic ic-google-plus" aria-hidden="true"></i> Google Login</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="login-register segment">
      <h3>Login or Register</h3>
      <form action="">
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-envelope-o"></span>
          </div>
          <div class="text">
            <input type="text" class="form-control" placeholder="Enter Your Email">
          </div>
        </div>
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-key"></span>
          </div>
          <div class="text">
            <input type="password" class="form-control" placeholder="Your Password">
          </div>
        </div>
      </form>
      <div class="reset-link">
        Forgot Your Password? <a href="#">Reset it</a>
      </div>

    </div>
  </div>
</div>

<!-- @TODO generate GENERAL CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-4">
        <div id="event-contact" class="row">
          <a href="#">
            <div class="icon">
              <span class="ic ic-cog"></span>
            </div>
            <div class="text">
              <span>Ask Sparks</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-block btn-default">Guest/Cancel</a>
        </div>
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-block btn-default">Next</a>
        </div>
      </div>
    </div>
  </div>
</div>