<!-- @TODO generate header-complex component and cleanup headers -->
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div id="packageHero">
        <div class="item" style="background: url('https://placeimg.com/1140/410/people/grayscale')">
          <h2 class="package-title">First Things First Registration/Login</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row segment">
  <div class="col-xs-12">
    <p>Start by entering your credentials or by filling in with your details.</p>
  </div>
</div>

<div class="row segment">
  <div class="col-xs-12">
    <!--<div class="btn-group btn-group-justified" role="group" aria-label="...">-->
    <div class="btn-group" role="group">
      <a href="#" class="btn btn-default"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook Login</a>
    </div>
    <div class="btn-group" role="group">
      <a href="#" class="btn btn-default"><i class="fa fa-google-plus" aria-hidden="true"></i> Google Login</a>
    </div>

    <!--</div>-->
  </div>
</div>


<div class="row segment">
  <div class="col-xs-12">
    <h3>Login or Register</h3>
    <form action="">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Enter Your Email" aria-describedby="sizing-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
        <input type="password" class="form-control" placeholder="Your Password" aria-describedby="sizing-addon1">
      </div>
    </form>
    <div class="reset-link">
      Forgot Your Password? <a href="#">Reset it</a>
    </div>
  </div>
</div>

<!-- @TODO generate GENERAL CONTACT component -->
<div class="row segment">
  <div class="col-xs-12">
    <div class="col-xs-4">
      <div id="event-contact" class="row">
        <div class="col-xs-12">
          <a href="#"><span class="glyphicon glyphicon-cog"></span>Ask Sparks</a>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="btn-group" role="group">
        <a href="#" class="btn btn-default">Guest</a>
      </div>
      <div class="btn-group" role="group">
        <a href="#" class="btn btn-default">Next</a>
      </div>
    </div>

  </div>
</div>