<!-- <app-header-simple></app-header-simple> -->
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="page-hero">
        <div class="item" style="background: url('https://placeimg.com/1140/410/animals/grayscale')">
          <h1 class="page-title">Select Your Opportunity for Lucidity Crossroads</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Lucidity Festival wants to know your answer.</p>
    </div>
  </div>
</div>

<form action="">
  <div class="row">
    <div class="col-xs-12">
      <div class="segment">
        <p class="card-text">Have you been to Lucidity before? Why do you want to volunteer?</p>
        <div class="edit-profile-detalils">
          <div class="form-input">
            <div class="icon">
              <span class="ic ic-commenting-o"></span>
            </div>
            <div class="text">
              <textarea class="form-control" placeholder="Type Your Answer"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- @TODO generate GENERAL CONTACT component -->
  <div class="row">
    <div class="col-xs-12">
      <div class="segment row">
        <div class="col-xs-4">
          <div id="event-contact" class="row">
            <a href="#" data-toggle="modal" data-target="#qa-modal">
            <div class="icon">
              <span class="ic ic-question-sign"></span>
            </div>
            <div class="text">
              Ask The Organizer
            </div>
          </a>
          </div>
        </div>

        <div class="col-xs-8 bottom-nav">
          <div class="btn-group" role="group">
            <a href="#" class="btn btn-block btn-default">Previous</a>
          </div>
          <div class="btn-group" role="group">
            <!-- <button type="submit" class="btn btn-block btn-default">Next</button> -->
            <a href="qa/1/confirm" class="btn btn-block btn-default">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

