<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Double-check your details before you send the application to the organizer.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="profile-details segment">
      <div class="row">
        <div class="col-xs-7">
          <h3 class="segment-title">Your information</h3>
        </div>
        <div class="col-xs-5 text-right"><a href="profile/edit-contact-info">edit <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-5">Stephen DeBaun</div>
            <div class="col-xs-7 text-right">Legal Name</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Reverend Stevo</div>
            <div class="col-xs-7 text-right">Preferred Name</div>
          </div>
          <div class="row">
            <div class="col-xs-5">(805 312 9100)</div>
            <div class="col-xs-7 text-right">Phone Number</div>
          </div>
          <div class="row">
            <div class="col-xs-5">October 25th, 1974</div>
            <div class="col-xs-7 text-right">Birthday</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="segment-title" data-toggle="collapse" data-target="#organizer-question">The Organizer Question</h3>
        </div>

        <div class="col-xs-12 collapse" id="organizer-question">
          <div class="segment">
            <p class="card-text">Have you been to Lucidity before? Why do you want to volunteer?</p>
            <div class="edit-profile-detalils">
              <div class="form-input">
                <div class="icon">
                  <span class="ic ic-commenting-o"></span>
                </div>
                <div class="text">
                  <textarea class="form-control" placeholder="Type Your Answer">My answer was this.</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="segment-title" data-toggle="collapse" data-target="#selected-teams">Selected Teams</h3>
        </div>

        <div class="col-xs-12 collapse" id="selected-teams">
          <app-selected-teams></app-selected-teams>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- @TODO generate GENERAL CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-4">
        <div id="event-contact" class="row">
          <a href="#">
            <div class="icon">
              <span class="ic ic-cog"></span>
            </div>
            <div class="text">
              <span>Ask The Organizer</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-block btn-default">Previous</a>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-block btn-default">Next</button >
        </div>
      </div>
    </div>
  </div>
</div>