<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Start by entering your credentials or by filling in with your details.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="login-register segment">
      <form action="">
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-envelope-o"></span>
          </div>
          <div class="text">
            <input type="text" class="form-control" placeholder="Enter Your Email">
          </div>
        </div>
       </form>
    </div>
  </div>
</div>

<!-- @TODO generate GENERAL CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-4">
        <div id="event-contact" class="row">
          <a href="#">
            <div class="icon">
              <span class="ic ic-cog"></span>
            </div>
            <div class="text">
              <span>Ask Sparks</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-block btn-default">Cancel</a>
        </div>
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-block btn-default">Next</a>
        </div>
      </div>
    </div>
  </div>
</div>