<app-header-carousel [images]="images"></app-header-carousel>

<div class="row">
  <div class="col-xs-12">
    <div id="event-head" class="row segment">
      <div class="col-xs-10">
        <h1 class="event-title">Department of Public Works</h1>
      </div>
      <div class="col-xs-2">
        2700 up to <a><span class="glyphicon glyphicon-star"></span></a>
      </div>
    </div>
    <div id="event-date-location" class="row segment">
      <div id="event-date" class="col-xs-6 text-right">
        <a href="#">
          <div class="icon">
            <span class="glyphicon glyphicon-calendar glyphicon-lg"></span>
          </div>
          <div class="text">
            july 5 - sept 15<br/><span>add to calendar</span>
          </div>
        </a>
      </div>
      <div id="event-location" class="col-xs-6">
        <a href="#">
          <div class="text">
            Black Rocky City, NV<br/><span>get directions</span>
          </div>
          <div class="icon">
            <span class="glyphicon glyphicon-map-marker glyphicon-lg"></span>
          </div>
        </a>
      </div>
    </div>
    <div id="event-description" class="row segment">
      <div class="col-xs-12">
        <p class="card-text">Make Kellog Park Great Again! Help plant, paint, and beautify our community park. Si se puedes!</p>
      </div>
    </div>
  </div>
</div>

<!-- @TODO generate YOU WILL GET/ YOU WILL GIVE component -->
<div class="row">
  <div class="col-xs-12">
    <div class="you-will-give-got segment">
      <h3>You Will Get</h3>
      <ul>
        <li>
          <app-card-item [icon]="'glyphicon-cog'" [title]="'20 Karma Points'" [subtitle]="'Get Badges, Accolafes, and more by volunteering throuh the Sparks.Network'"></app-card-item>
        </li>
        <li>
          <app-card-item [icon]="'glyphicon-cog'" [title]="'To help you community'" [subtitle]="'Serve your neightbors on the Avenue!'"></app-card-item>
        </li>
      </ul>
    </div>

    <div class="you-will-give-got segment">
      <h3>You Will Give</h3>
      <ul>
        <li>
          <app-card-item [icon]="'glyphicon-cog'" [title]="'Shift'" [subtitle]="'Serve your neightbors on the Avenue!'"></app-card-item>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- @TODO generate USER SCHEDULE component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <h3>Your Schedule</h3>
        </div>
        <div class="col-xs-6">
          <a href="#">add to calendar <span class="glyphicon glyphicon-calendar"></span></a>
        </div>
      </div>
      <div class="col-xs-12">
        <app-schedule [items]="scheduleItems"></app-schedule>
      </div>
    </div>
  </div>
</div>

<!-- @TODO generate EVENT BADGES component: normal, active, pending, disabled -->
<div class="row">
  <div class="col-xs-12">
    <div id="event-requirements" class="row segment">
      <div class="col-xs-6">
        <app-card-item [type]="cardItemType.Pending" [icon]="'glyphicon-cog'" [title]="'Volunteer'" [subtitle]="'30 Days'" [description]="'100% involvement'"></app-card-item>
      </div>
      <div class="col-xs-6">
        <app-card-item [type]="cardItemType.Active" [icon]="'glyphicon-cog'" [title]="'Crew'" [subtitle]="'60 Days'" [description]="'100% involvement'"></app-card-item>
      </div>

      <!-- 8-v2-Event-Normal-Multi-Day, 8-v3-Event-Normal-Pending, 8-v4-Event-Normal-Active Has more elements here START -->
      <div class="col-xs-6 req-disabled">
        <app-card-item [type]="cardItemType.Disabled" [icon]="'glyphicon-cog'" [title]="'Pre-Event Builders'" [subtitle]="'$364 in value'"
          [description]="'100% involvement'"></app-card-item>
      </div>
      <div class="col-xs-6">
        <app-card-item [icon]="'glyphicon-cog'" [title]="'Crew'" [subtitle]="'60 Days'" [description]="'100% involvement'"></app-card-item>
      </div>
      <div class="col-xs-6">
        <app-card-item [icon]="'glyphicon-cog'" [title]="'Teardown $59'" [subtitle]="'$444 in value'" [description]="'87% discount'"></app-card-item>
      </div>
      <!-- Has more elements here END -->
    </div>
  </div>
</div>

<!-- @TODO generate EVENT ORGANIZER component -->
<div class="row">
  <div class="col-xs-12">
    <div id="event-organizer" class="row segment">
      <div class="col-xs-12">
        <h3>Organized by</h3>
        <div class="row">
          <div class="col-xs-9">Cobra Commander from The Burning Man Project</div>
          <div class="col-xs-3"><img class="img-circle" src="https://placeimg.com/30/30/people/grayscale" /></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @TODO generate EVENT SOCIAL component -->
<div class="row">
  <div class="col-xs-12">
    <app-event-social></app-event-social>
  </div>
</div>

<!-- @TODO generate EVENT CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-4">
      <div id="event-contact" class="row segment">
        <div class="col-xs-12">
          <app-event-ask-organizer-button></app-event-ask-organizer-button>
        </div>
      </div>
    </div>

    <!--<?php if ( basename($_SERVER["SCRIPT_FILENAME"], '.php') == '8-v1-Event-Simple-one-' ){ ?>-->
    <div class="col-xs-6">
      <a href="#" class="btn btn-default" title="Join Now">Join Now</a>
    </div>
    <!--<?php } ?>-->

  </div>
</div>