<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Now that you've been approved for Lucidity Crossroafs, let's set up your schedule.</p>
    </div>
  </div>
</div>

<app-selected-shifts></app-selected-shifts>

<app-filter-shifts></app-filter-shifts>

<app-shift-list></app-shift-list>


  <!-- @TODO generate GENERAL CONTACT component -->
  <div class="row">
    <div class="col-xs-12">
      <div class="segment row">
        <div class="col-xs-4">
          <app-ask-action [askWho]="'The Organizer'" [modalTitle]="'Ask The Organizer'"></app-ask-action>
        </div>

        <div class="col-xs-8 bottom-nav">
          <div class="btn-group" role="group">
            <a href="#" class="btn btn-block btn-default">Previous</a>
          </div>
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-block btn-default">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>