<div class="you-will-give-got shift-list segment no-brd">
<ul>
  <li>
    <div class="icon-desc-container">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="description">
        <h4>Mindfool Feeding</h4>
        <!-- <div class="timeline-where">
          <p>Security Crew, Heath Squad</p>
        </div> -->
        <div class="timeline-when">
          <p>feb 2nd, 2017 - 2:00 PM</p>
        </div>
      </div>
    </div>
    <div class="karma-point-container">
      <div class="team-mates-avatar">
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      </div>
      <div class="team-mates-count">
        <p>+4 more</p>
      </div>
    </div>
  </li>
  <li>
    <div class="icon-desc-container">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="description">
        <h4>GateKeepers</h4>
        <!-- <div class="timeline-where">
          <p>Security Crew, Heath Squad</p>
        </div> -->
        <div class="timeline-when">
          <p>feb 3rd, 2017 - 2:00 PM</p>
        </div>
      </div>
    </div>
    <div class="karma-point-container">
      <div class="team-mates-avatar">
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      </div>
    </div>
  </li>

  <li>
    <div class="icon-desc-container">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="description">
        <h4>Technocrats</h4>
        <!-- <div class="timeline-where">
          <p>Security Crew, Heath Squad</p>
        </div> -->
        <div class="timeline-when">
          <p>feb 4th, 2017 - 2:00 PM</p>
        </div>
      </div>
    </div>
    <div class="karma-point-container">
      <div class="team-mates-avatar">
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      </div>
      <div class="team-mates-count">
        <p>+1 more</p>
      </div>
    </div>
  </li>

  <li>
    <div class="icon-desc-container">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="description">
        <h4>dIRT</h4>
        <!-- <div class="timeline-where">
          <p>Security Crew, Heath Squad</p>
        </div> -->
        <div class="timeline-when">
          <p>feb 5th, 2017 - 2:00 PM</p>
        </div>
      </div>
    </div>
    <div class="karma-point-container">
      <div class="team-mates-avatar">
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
      </div>
      <div class="team-mates-count">
        <p>+2 more</p>
      </div>
    </div>
  </li>
</ul>
</div>