<user-header></user-header>

<div class="row">
  <div class="col-xs-12">
    <div class="profile-name-bio segment">
      <div class="row">
        <div class="col-xs-7">
          <h3 class="segment-title">John "Fireboy" Doe</h3>
        </div>
        <div class="col-xs-5 segment-title-link-container"><a href="#">edit details <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
        <div class="col-xs-12 profile-bio">
          <p>I have a big passion for creating useful and beautiful stuff, while contantly <span data-toggle="collapse" data-target="#bio_readmore">...</span></p>
          <p id="bio_readmore" class="collapse">
            Proin in tortor augue. Fusce aliquet nulla in lacus consequat varius. Suspendisse convallis massa enim, bibendum dictum libero
            varius ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat
            volutpat. Donec efficitur eros et posuere accumsan. Nam dictum nisi libero, id convallis mi sodales at.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-quests></app-quests>
<app-badge-list></app-badge-list>
<app-trophy-list></app-trophy-list>
<app-accolade-list></app-accolade-list>
<app-events-history></app-events-history>

<div class="row">
  <div class="col-xs-12">
    <div class="bottom-links">
      <a href="#">
        <div class="col-xs-9">View And Edit User Details</div>
        <div class="col-xs-3"><span class="ic ic-user"></span></div>
      </a>
    </div>

    <div class="bottom-links">
      <a href="#">
        <div class="col-xs-9">View Public Profile Page</div>
        <div class="col-xs-3"><span class="ic ic-user"></span></div>
      </a>
    </div>
  </div>
</div>