<div class="row">
  <div class="col-xs-12">
    <div class="social-login segment">
      <div class="btn-group" role="group">
        <button type="button" (click)="loginWithFacebook()" class="btn btn-block btn-social-login"><i class="ic ic-facebook-square" aria-hidden="true"></i> Sign up with Facebook</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" (click)="loginWithGoogle()" class="btn btn-block btn-social-login"><i class="ic ic-google-plus" aria-hidden="true"></i> Sign up with Google</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <br>
    <button [routerLink]="['/account/register/email']" class="btn btn-default btn-social-login">Sign up with Email</button>
  </div>
</div>