<div class="row">
  <div class="col-xs-12">
    <div class="profile-badge segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>I Love People - <span>june 1st, 2017</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>

    <div class="profile-badge segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Beefcake - <span>june 21st, 2017</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>

    <div class="profile-badge segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Early Bird - <span>june 21st, 2017</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </div>
</div>