<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">You can now select badge from the ones below.</p>
    </div>
  </div>
</div>

<!-- @TODO remove date from BADGE LIST component -->
<!-- <app-badge-list-details></app-badge-list-details> -->
<div class="row">
  <div class="col-xs-12">
    <div class="profile-badge segment">
      <div class="icon">
        <span class="ic ic-cog"></span>
      </div>
      <div class="text">
        <h4>Beefcake</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
    </div>
  </div>
</div>

<!-- @TODO generate GENERAL CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-4">
        <div id="event-contact" class="row">
          <a href="#">
            <div class="icon">
              <span class="ic ic-cog"></span>
            </div>
            <div class="text">
              <span>Ask Sparks</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-block btn-default">Cancel</a>
        </div>
        <div class="btn-group" role="group">
          <a href="profile/congrats-badge" class="btn btn-block btn-default">Next</a>
        </div>
      </div>
    </div>
  </div>
</div>