<div class="row">
  <div class="col-xs-12">
    <div class="accolade segment">
      <div class="icon">
        <img class="img-circle" src="https://placeimg.com/40/40/people/grayscale" />
      </div>
      <div class="text">
        <h4>What a Great Guy - <span>june 1st, 2017</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

    </div>

    <div class="accolade segment">
      <div class="icon">
        <img class="img-circle" src="https://placeimg.com/40/40/people/grayscale" />
      </div>
      <div class="text">
        <h4>So Calm Guy - <span>june 21st, 2017</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>

    </div>
  </div>
</div>