<div class="row">
  <div class="component-segment">

    <div class="col-xs-6">
      <h3 class="segment-title">Events History</h3>
    </div>
    <!-- <div class="col-xs-6">
      <a class="title-link" href="#">add to calendar <span class="glyphicon glyphicon-calendar"></span></a>
    </div> -->

    <div class="col-xs-12 timeline">
      <!-- <app-schedule [items]="scheduleItems"></app-schedule> -->
      <ul>
        <li>
          <div class="icon-desc-container">
            <div class="icon">
              <span class="ic ic-circle"></span>
            </div>
            <div class="description">
              <h4>Electric Fesitval
                <ng-container> - <span>5 shifts</span></ng-container>
              </h4>
              <div class="timeline-where">
                <p>Security Crew, Heath Squad</p>
              </div>
              <div class="timeline-when">
                <p>june 1st- 3rd, 2017</p>
              </div>
            </div>
          </div>
          <div class="karma-point-container">
            100 <span class="ic ic-star"></span>
          </div>
        </li>

        <li>
          <div class="icon-desc-container">
            <div class="icon">
              <span class="ic ic-circle"></span>
            </div>
            <div class="description">
              <h4>Electric Fesitval
                <ng-container> - <span>5 shifts</span></ng-container>
              </h4>
              <div class="timeline-where">
                <p>Security Crew, Heath Squad</p>
              </div>
              <div class="timeline-when">
                <p>june 1st- 3rd, 2017</p>
              </div>
            </div>
          </div>
          <div class="karma-point-container">
            100 <span class="ic ic-star"></span>
          </div>
        </li>


        <li>
          <div class="icon-desc-container">
            <div class="icon">
              <span class="ic ic-circle"></span>
            </div>
            <div class="description">
              <h4>Electric Fesitval
                <ng-container> - <span>5 shifts</span></ng-container>
              </h4>
              <div class="timeline-where">
                <p>Security Crew, Heath Squad</p>
              </div>
              <div class="timeline-when">
                <p>june 1st- 3rd, 2017</p>
              </div>
            </div>
          </div>
          <div class="karma-point-container">
            100 <span class="ic ic-star"></span>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>