<app-header-simple></app-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Your application has been sent to the organizer. Watch your inbox for notice that you've been accepted, or just sign
        in to the Sparks.Newtork to check any time!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- <app-project-social></app-project-social> -->
    <div class="page-social row">
      <div class="col-xs-8"><a href="#">View Event Page <span class="ic ic-link"></span></a></div>
      <div class="col-xs-4 text-center">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="#"><span class="ic ic-cog"></span></a>
          </div>
          <div class="btn-group" role="group">
            <a href="#"><span class="ic ic-cog"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div id="share-for-karma">
          <span>Share for 100 Karma Points</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @TODO generate GENERAL CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-4">
        <div id="event-contact" class="row">
          <a href="#">
            <div class="icon">
              <span class="ic ic-cog"></span>
            </div>
            <div class="text">
              <span>Ask The Organizer</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
          <a href="dashboard" class="btn btn-block btn-default">Return To Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>
