<div [ngClass]="{'disabled':status === cardItemStatus.Disabled, 'active':status === cardItemStatus.Active,'pending':status === cardItemStatus.Pending}">
  <div class="icon">
    <span class="glyphicon {{icon}} glyphicon-lg"></span>
    <div class="status">
      <div [ngSwitch]="status">
        <div *ngSwitchCase="cardItemStatus.Active">
          active
        </div>
        <div *ngSwitchCase="cardItemStatus.Pending">
          pending
        </div>       
      </div>
    </div>
  </div>
  <div class="text">
    <h4>{{title}}</h4>
    <p *ngIf="description">{{description}}</p>
    <p *ngIf="summary"><span>{{summary}}</span></p>
  </div>
</div>