<div [ngClass]="{'disabled':type === cardItemType.Disabled, 'active':type === cardItemType.Active,'pending':type === cardItemType.Pending}">
  <div class="icon">
    <span class="glyphicon {{icon}} glyphicon-lg"></span>
    <div class="status">
      <div [ngSwitch]="type">
        <div *ngSwitchCase="cardItemType.Active">
          active
        </div>
        <div *ngSwitchCase="cardItemType.Pending">
          pending
        </div>       
      </div>
    </div>
  </div>
  <div class="text">
    <h4>{{title}}</h4>
    <p *ngIf="subtitle">{{subtitle}}</p>
    <p *ngIf="description"><span>{{description}}</span></p>
  </div>
</div>